.main_img_container {
	width: 80%;
	min-width: 400px;
	aspect-ratio: auto 3/ 4;
	margin-top: 9rem;
	margin-left: 30%;
}
.main_img {
	width: 80%;
	height: 66%;
	overflow: hidden;
	object-fit: cover;
	border-radius: 10px;
	cursor: zoom-in;
}
.preview_img_container {
	width: 80%;
	height: 13%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.preview_imags0,
.preview_imags1,
.preview_imags2,
.preview_imags3 {
	width: 20%;
	margin-top: 10px;
	border-radius: 10px;
	overflow: hidden;
	object-fit: cover;
	cursor: pointer;
	transition: margin 0.15s ease-in-out;
}
.preview_imags0:hover,
.preview_imags1:hover,
.preview_imags2:hover,
.preview_imags3:hover {
	width: 20%;
	margin: 0px 0px 10px 0px;
	border-radius: 10px;
	overflow: hidden;
	object-fit: cover;
	cursor: pointer;
}
@media (max-width: 912px) {
	.main_img_container {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 70%;
		min-width: 400px;
		aspect-ratio: auto 3/ 4;
		margin-top: 5rem;
		margin-left: 0%;
	}
	.main_img {
		width: 80%;
		height: 66%;
		overflow: hidden;
		object-fit: cover;
		border-radius: 10px;
	}
	.preview_img_container {
		width: 80%;
		height: 13%;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		margin-left: 0%;
	}
}
