#home_body_1 {
	width: 100%;
	background-color: #f8f9ff;
	overflow: hidden;
	background: #c2c4d4
		url("https://img.wallpapersafari.com/desktop/1920/1080/40/68/Q3s1hO.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#up_divider {
	margin-top: -10%;
	object-fit: cover;
}
#down_divider {
	object-fit: cover;
}
#home_body_2 {
	position: absolute;
	margin: 1rem 0rem 1rem 0rem;
	width: 100%;
	background-color: #f8f9ff;
	display: flex;
	flex-direction: column;
}
#sub_home_body_2 {
	width: 100%;
	background-color: tomato;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
#home_body_containers {
	position: relative;
}

@media (min-width: 500px) and (max-width: 912px) {
	#up_divider {
		margin-top: -15%;
		object-fit: cover;
	}
}
@media (max-width: 499.9px) {
	#up_divider {
		margin-top: -15%;
		object-fit: cover;
	}
}
