#home_body_1 {
	height: 60rem;
	width: 100%;
	background-color: rgb(255, 255, 255);
	overflow: hidden;
}
#home_body_2 {
	margin: 1rem 0rem 1rem 0rem;
	width: 100%;
	display: flex;
	flex-direction: column;
}
#sub_home_body_2 {
	height: 80rem;
	width: 100%;
	background-color: tomato;
	color: white;
}
