body,
html {
	box-sizing: border-box;
	min-width: 350px;
}
.nav_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 4rem;
	background-color: rgb(255, 255, 255);
	border-bottom: 1px solid rgb(0, 0, 0);
}

.nav_flex_element {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.nav_burger_menu_container {
	display: none;
	justify-content: center;
	align-items: center;
	margin-left: 1rem;
	width: 0rem;
}

.nav_logo_container {
	height: 2rem;
	background-color: tomato;
	width: 15rem;
	margin-left: 1rem;
}

.nav_pages {
	margin: 0 auto;
	width: 28.5rem;
}
.Men.active ~ .nav_underline {
	margin-left: 5.7rem;
}
.Women.active ~ .nav_underline {
	margin-left: 11.4rem;
}
.About.active ~ .nav_underline {
	margin-left: 17.1rem;
}
.Contact.active ~ .nav_underline {
	margin-left: 22.8rem;
}

ul li {
	display: inline;
	text-align: center;
	cursor: pointer;
}
.nav_underline {
	bottom: 0;
	height: 0.25rem;
	display: block;
	width: 5.7rem;
	background: tomato;
	border: none;
	transition: 0.3s ease-in-out;
}

.nav_space {
	width: 40%;
}

.nav_cart {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5rem;
}

.nav_profile {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5rem;
	height: 5rem;
}

.img_profile {
	height: 3rem;
}

a {
	display: inline-block;
	width: 5.1rem;
	padding: 1.2rem 0;
	margin: 0 0.3rem;
	text-decoration: none;
	color: #333;
}
@media (min-width: 500px) and (max-width: 912px) {
	.nav_burger_menu_container {
		display: block;
		height: 2rem;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		width: 5rem;
	}
	.nav_burger_menu1,
	.nav_burger_menu2,
	.nav_burger_menu3 {
		width: 25px;
		height: 4px;
		margin: 3px;
		background-color: rgb(88, 88, 88);
		transition: all 0.5s ease-in-out;
	}
	.nav_burger_menu1.active {
		margin-top: 10px;
		transform: rotate(45deg);
	}

	.nav_burger_menu2.active {
		margin-right: 25px;
		background: transparent;
	}
	.nav_burger_menu3.active {
		margin-top: -14px;
		transform: rotate(-45deg);
	}
	.nav_flex_element {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}

	.nav_logo_container {
		height: 2rem;
		background-color: tomato;
		width: 15rem;
		margin-left: -3rem;
	}

	.nav_pages {
		display: none;
		margin: 0 auto;
		width: 0rem;
	}

	ul li {
		display: inline;
		text-align: center;
		cursor: pointer;
	}
	.nav_underline {
		bottom: 0;
		height: 0.25rem;
		display: block;
		width: 5.7rem;
		background: tomato;
		border: none;
		transition: 0.3s ease-in-out;
	}

	.nav_space {
		width: 40%;
	}

	.nav_cart {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 5rem;
	}

	.nav_profile {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 5rem;
		height: 5rem;
	}

	.img_profile {
		height: 3rem;
	}

	a {
		display: inline-block;
		width: 5.1rem;
		padding: 1.2rem 0;
		margin: 0 0.3rem;
		text-decoration: none;
		color: #333;
	}
}

@media (max-width: 499.9px) {
	.nav_logo_container {
		height: 2rem;
		background-color: tomato;
		width: 2rem;
		margin-left: -3rem;
	}
	.nav_burger_menu_container {
		display: inline;
		justify-content: center;
		align-items: center;
		width: 5rem;
	}
	.nav_flex_element {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}
	.nav_pages {
		display: none;
		margin: 0 auto;
		width: 0rem;
	}

	ul li {
		display: inline;
		text-align: center;
		cursor: pointer;
	}
	.nav_underline {
		display: none;
	}

	.nav_space {
		width: 40%;
	}

	.nav_cart {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 5rem;
	}

	.nav_profile {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 5rem;
		height: 5rem;
	}

	.img_profile {
		height: 3rem;
	}

	a {
		display: inline-block;
		width: 5.1rem;
		padding: 1.2rem 0;
		margin: 0 0.3rem;
		text-decoration: none;
		color: #333;
	}
}
